:root {
    --font-body: "Mirza", serif;
    --color-black: #000;
    --color-blue: #0038FF;
    --color-darkblue: #00005A;
    --color-white: #fff;
    --transition: .5s;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
}


ul {
    list-style: none;
} 

a {
    text-decoration: none;
    color: var(--color-black);
    transition: var(--transition); 

} a:hover {
    color: var(--color-blue);
}

p {
    font-size: 2vmin;
    margin: 10px;
}

h2 {
    font-size: 4vmin;
    margin: 10px;
}


.container {
    margin: 0 auto;
    padding: 0 auto;
}

/*  CABEÇALHO  */ 

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
}

.header-page img {
    max-width: 150px;
    cursor: pointer;
}

.header-page nav ul {
    display: flex;
    gap: 30px;
}

.header-page nav ul li {
    font-size: 1.5rem;
    font-weight: 900;
}

.btn-login {
    color: #fff;
    border: 2px solid;
    border-radius: 10px;
    padding: 8px 15px;
    transition: background-color var(--transition);
    background-color: var(--color-blue);
} .btn-login:hover {
    background-color: var(--color-white);
    color: var(--color-blue);
}

/* FIM CABEÇALHO */

/* ÍNICIO CONTEÚDO  */
.conteudo-desafio {
    background-color: var(--color-darkblue);
    color: var(--color-white);
    padding: 10px;
} .conteudo-desafio h4 {
    font-size: 3vmin;
} .conteudo-desafio p {
    white-space: pre-line;  
}

.justificativa {
    font-size: 2vmin;
    margin: 10px;
    padding: 10px;
}

.btn-saiba {
    margin-left: 40px; 
    color: #fff;
    border: 2px solid;
    border-radius: 20px;
    padding: 8px 20px;
    cursor: pointer;
    background-color: var(--color-white);
    color: var(--color-blue); 
} .btn-saiba:hover {
    background-color: var(--color-darkblue);
    color: var(--color-white);
}

.saiba-mais {
    padding: 2%;
    margin: 10px 30px auto 30px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transform: translateY(-20px);
    transition: opacity 0.5s, max-height 0.5s, transform 0.5s;
} .saiba-mais.mostrar {
    opacity: 1;
    max-height: 1000px;
    transform: translateY(0);
} 

.carrinho {
    display: flex;
    align-items: center;
    gap: 10px;
}


/* FIM CONTEÚDO */

/* ÍNICIO RODAPE  */
.rodape {
    font-size: 1.2rem;

}
